Exercise 1

In [1]:
my_name = "Nestor"
print(my_name)

Nestor

Exercise 2

In [2]:
age= 38
print(age)

38

Exercise 3

In [4]:
julia_age = 32
print(julia_age)

32

In [7]:
age_diff = 38 - 32
print(age_diff)

6

Exercise 4

In [3]:
age = 38
if (age == 21):
    print ("Is 21")
elif(age > 26):
    print("Is greater than 21")
else:
    print("Is lesser than 21")

Is greater than 21

Exercise 5

In [4]:
age = 38
julia_age = 32
if(age == julia_age):
    print("You have the same age")
elif (age > julia_age):
    print("Julia is younger than you")
else:
    print("Julia is older than You")

Julia is younger than you

Exerccise 6

In [20]:
my_list = ["Nestor", "Carmen", "Max", "Si창n", "Natalie", "Sergio", "Tan", "Arjun", "Kilian"]
print(my_list)

['Nestor', 'Carmen', 'Max', 'Si창n', 'Natalie', 'Sergio', 'Tan', 'Arjun', 'Kilian']

In [21]:
my_list.sort()
print(my_list)

['Arjun', 'Carmen', 'Kilian', 'Max', 'Natalie', 'Nestor', 'Sergio', 'Si창n', 'Tan']

In [26]:
first = [my_list[0]]
print("the first name: "+ str(first))

the first name: ['Arjun']

In [27]:
last = [my_list[-1]]
print("the last name: " + str(last))

the last name: ['Tan']

In [28]:
firstandlast = [my_list[0], my_list[-1]]
print("the first name and last name of the list: "+ str(firstandlast))

the first name and last name of the list: ['Arjun', 'Tan']

In [30]:
a = [my_list]
for x in range(len(a)):
    print (a[x]),

['Arjun', 'Carmen', 'Kilian', 'Max', 'Natalie', 'Nestor', 'Sergio', 'Si창n', 'Tan']

Exercise 7

In [31]:
studentage = [40, 32, 30, 38, 36, 36]
print(studentage)

[40, 32, 30, 38, 36, 36]

In [34]:
a = studentage
for x in range(len(a)):
    print (a[x])

40
32
30
38
36
36

In [26]:
start = int(input("32:"))
end = int(input("40:"))
for num in range (start, end + 1):
    if num % 2 == 0:
        print(num, end="")
start = int(input("32:"))
end = int(input("40:"))
[print(x)for x in range(start, end + 1, 2)]

323436384032
34
36
38
40

[None, None, None, None, None]

In [14]:
a=32; b=40
li=[]
for i in range (a,b+1):
    li.append(i)
    even_num = list(filter (lambda x: (x%2==0),li))
    print(even_num)

[32]
[32]
[32, 34]
[32, 34]
[32, 34, 36]
[32, 34, 36]
[32, 34, 36, 38]
[32, 34, 36, 38]
[32, 34, 36, 38, 40]

In [15]:
x=[i for i in range (32,40+1) if i%2==0]
print(*x)

32 34 36 38 40

Exercice 8 (using minimum method)

In [20]:
list = [13, 26, 31, 47, 92, 13, 18, 72, 101, 3, 19, 27, 10, 56, 57, 92]
print(list)
print("smallest element is:", min(list))

[13, 26, 31, 47, 92, 13, 18, 72, 101, 3, 19, 27, 10, 56, 57, 92]
smallest element is: 3

Exercice 9 (using maximun synthaxe)

In [22]:
x = [1, 2, 5, 32, 22, 35, 73, 28, 11, 80, 91.97]
print(x)
print("biggest element is:", max(x))

[1, 2, 5, 32, 22, 35, 73, 28, 11, 80, 91.97]
biggest element is: 91.97

Exercice 10

In [2]:
customersbirthyear = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
#print(customersbirthyear)
for year in customersbirthyear:
    age = 2023 - year
    print(age)

24
28
18
13
16
17
29
27
44
15

In [20]:
import datetime
now = datetime.datetime.utcnow()
yearnow = now.year
print(now)
print(f'The year is {yearnow}')

customersbirthyear = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
#print(customersbirthyear)
for year in customersbirthyear:
    age = yearnow - year
    print(f'A person born in {year} is now {age} years old today')
    #print('A person born in', year, 'is now {age} years old today')

    # f string in python on google.

2023-03-24 10:50:39.867568
The year is 2023
A person born in 1999 is now 24 years old today
A person born in 1995 is now 28 years old today
A person born in 2005 is now 18 years old today
A person born in 2010 is now 13 years old today
A person born in 2007 is now 16 years old today
A person born in 2006 is now 17 years old today
A person born in 1994 is now 29 years old today
A person born in 1996 is now 27 years old today
A person born in 1979 is now 44 years old today
A person born in 2008 is now 15 years old today

In [ ]:
import datetime
import dateutil
def birthday(date):
    now = datetime.datetime.utcnow()
    now = age.date()
    age = dateutil.relativedelta.relativedelta(now, date)
    age = age.years 
    return age
print(age)

In [65]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(1999, 12, 31)),"years")

23 years

In [75]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(1995, 12, 31)),"years")

27 years

In [76]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(2005, 12, 31)),"years")

17 years

In [77]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(2010, 12, 31)),"years")

12 years

In [78]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(2007, 12, 31)),"years")

15 years

In [79]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(2006, 12, 31)),"years")

16 years

In [80]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(1994, 12, 31)),"years")

28 years

In [81]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(1996, 12, 31)),"years")

26 years

In [82]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(1979, 12, 31)),"years")

43 years

In [83]:
from datetime import date
def Customersage(customersbirthdate):
    today = date.today()
    age = today.year - customersbirthdate.year - ((today.month, today.day) < (customersbirthdate.month, customersbirthdate.day))
    return age 
print(Customersage(date(2008, 12, 31)),"years")

14 years

In [91]:
ageofcustomers = [23, 27, 17, 12, 15, 16, 28, 26, 43, 14, 14]
for x in ageofcustomers:
    print(x)

23
27
17
12
15
16
28
26
43
14
14

Exercise 11

In [28]:
customer_list = [
    {"name":"Bob", "age": 1999}, 
    {"name": "Jack", "age": 1995}, 
    {"name": "Lisa", "age": 2005}, 
    {"name": "Maria", "age": 2010}, 
    {"name": "Ben", "age": 2007}, 
    {"name": "Emma", "age": 2006}, 
    {"name": "Oscar", "age": 1994}, 
    {"name": "Amy", "age": 1996}, 
    {"name": "Paul", "age": 1979}, 
    {"name": "Etta", "age": 2008}
    ]
for x in customer_list:
    #print(x)
    year = 2023
for customer in customer_list:
    #print(customer['name'], (year - customer['age']))
    print(customer['name'] + ' is ' + str(year - customer['age']) + ' years old.')

Bob is 24 years old.
Jack is 28 years old.
Lisa is 18 years old.
Maria is 13 years old.
Ben is 16 years old.
Emma is 17 years old.
Oscar is 29 years old.
Amy is 27 years old.
Paul is 44 years old.
Etta is 15 years old.

exercise 12

In [13]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

print(min(ages))

9

In [15]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
print(max(ages))

40

In [19]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.remove(9)
print(ages)

[20, 24, 14, 12, 13, 25, 23, 40, 11]

In [20]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.remove(40)
print(ages)

[20, 24, 14, 9, 12, 13, 25, 23, 11]

In [22]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.remove(min(ages))
ages.remove(max(ages))
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [23]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.remove(9)
ages.remove(40)
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

Exercise 13 (concatenation method)

In [42]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
res = berlin + munich
print(res)
list3 = []
for res in res:
    if res not in list3:
        list3.append(res)
print(list3)

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
set[(berlin)]
set [(munich)]
listdd = set[(berlin, munich)]

[15, 13, 16, 18, 19, 10, 12, 7, 13, 15, 20, 19, 18, 10, 16]
[15, 13, 16, 18, 19, 10, 12, 7, 20]

Exercise 14

In [46]:
listeages= [15,13,16,18,19,15,10]
listnd = []
for listeages in listeages:
    if listeages not in listnd:
        listnd.append(listeages)
print(listnd)

[15, 13, 16, 18, 19, 10]

exercise 15

In [23]:
def welcome(mama):
    print("welcome"+ "" +"" +mama+ "have a nice day!")
mama = "Evelyn" 
welcome (mama)
mama = "Jost"
welcome(mama)

welcomeEvelynhave a nice day!
welcomeJosthave a nice day!

In [24]:
def welcome(mama):
    print("welcome,"+" "+ " " +" " +mama+ " " "have a nice day!")
mama = "Evelyn" 
welcome (mama)
mama = "Jost"
welcome(mama)

welcome,   Evelyn have a nice day!
welcome,   Jost have a nice day!

Exercise 16

In [63]:
get_length = ('Hello') 
str = input("Hello")
counter = 0 
for s in str:
    counter = counter+1 
print("lenght of the input is:", counter)

lenght of the input is: 5

In [64]:
get_length = ('Hi') 
str = input("Hi")
counter = 0 
for s in str:
    counter = counter+1 
print("lenght of the input is:", counter)

lenght of the input is: 2

Exercise 17

In [68]:
num = 6
num = int(input(num))
if (num % 2) == 0:
    print("yes")
else:
    print("No")

yes

In [69]:
num = 6
num = int(input(num))
if (num % 2) == 0:
    print("yes")
else:
    print("No")

No

Exercise 18

Exer.11

Exer.12

Exer.13

Exer.14

Exer.15

Exercise 19

In [135]:

def List_input(n):
    if n in range (4,11):
        print(" is in the range")
    else: 
        print("the number is outside the given range.")
List_input(7)

 is in the range

In [136]:
def List_input(n):
    if n in range (1,6):
        print("is in the range")
    else: 
        print("he number is outside the given range.")
List_input(12)

he number is outside the given range.

In [134]:
def List_input(n):
    if n in range (1,6):
        print("true")
    else: 
        print("false")
List_input(7)

false

In [137]:
def List_input(n):
    if n in range (1,6):
        print("true")
    else: 
        print("false")
List_input(2)

true

In [160]:
Cars = []
Cars.append("bmw")
Cars.append("mercedes")
Cars.append("opel")
Cars.append("porsche")
Cars.append("audi")
print(Cars)

Cars.insert(0,"volkswagen")
print(Cars)

del Cars[1]
print(Cars)

Cars_minus = Cars.pop()
print(Cars)
print(Cars_minus)

['bmw', 'mercedes', 'opel', 'porsche', 'audi']
['volkswagen', 'bmw', 'mercedes', 'opel', 'porsche', 'audi']
['volkswagen', 'mercedes', 'opel', 'porsche', 'audi']
['volkswagen', 'mercedes', 'opel', 'porsche']
audi